body {
  font-family: 'Arial', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: antiquewhite;
  background-image: url("hbd.jpg");
  background-position: center; /* Center the background image */
}

.countdown-container {
  text-align: center;
  padding: 20px; /* Add padding around the timer */
}

#countdown {
  font-size: 150px; /* Set a fixed font size */
  width: 100%; /* Set a fixed width */
  height: 100%; /* Set a fixed height */
  margin: 0 auto; /* Center the timer horizontally */
}
